# Python and Data Analysis (PANDAS)

In [1]:
import pandas as pd
import numpy as np

In [2]:
pandas_series = pd.Series([4, 8, 8.1, -4])
pandas_series

0    4.0
1    8.0
2    8.1
3   -4.0
dtype: float64

In [3]:
pandas_series = pd.Series([4, 8, 8.1, -4], index = ["a", "c", "b", "d"])
pandas_series

a    4.0
c    8.0
b    8.1
d   -4.0
dtype: float64

In [4]:
pandas_series[2]

8.0999999999999996

In [5]:
pandas_series [pandas_series < 5 ]

a    4.0
d   -4.0
dtype: float64

In [6]:
pandas_series[pandas_series > 0]

a    4.0
c    8.0
b    8.1
dtype: float64

In [4]:
panda_series = pd.Series([["hi","hello"],5.4,-9.4,12],index = ["a","b","c","d"])
panda_series

a    [hi, hello]
b            5.4
c           -9.4
d             12
dtype: object

In [5]:
panda_series.a

['hi', 'hello']

In [6]:
#series from dictionary

dictionary = {"a":["hi","Hello"],"b":[5.4,7.5,6.2],"c":-9.4,"d":12}
s=pd.Series(dictionary)
print(s)

a        [hi, Hello]
b    [5.4, 7.5, 6.2]
c               -9.4
d                 12
dtype: object

In [14]:
data = {"date" : [ "December,2014", "December, 2013",
                  "December, 2012","December,2011"],
        "global_temp": [0.87,0.74,0.65,0.63]
       }
dataframe = pd.DataFrame(data)
dataframe

             date  global_temp
0   December,2014         0.87
1  December, 2013         0.74
2  December, 2012         0.65
3   December,2011         0.63

In [19]:
pd.DataFrame(dataframe,columns = ["global_temp","date"])

   global_temp            date
0         0.87   December,2014
1         0.74  December, 2013
2         0.65  December, 2012
3         0.63   December,2011

In [15]:
print(dataframe.date)
print(dataframe['date'])

0     December,2014
1    December, 2013
2    December, 2012
3     December,2011
Name: date, dtype: object
0     December,2014
1    December, 2013
2    December, 2012
3     December,2011
Name: date, dtype: object

In [16]:
dataframe['date'].values

array(['December,2014', 'December, 2013', 'December, 2012', 'December,2011'], dtype=object)

In [17]:
#Dataframe : viewing Data.

dataframe = pd.DataFrame(np.random.randn(20, 5), 
                         columns = ['A', 'B', 'C', 'D', 'E'])

In [18]:
print(dataframe.head())

          A         B         C         D         E
0  1.147973  1.264467  1.384800 -0.940340 -0.293729
1 -2.595585  0.937161 -0.553825 -1.495732 -2.281464
2 -0.675270 -1.016064  1.124503 -0.043086 -0.664418
3  0.380692 -1.266137  1.620486  1.183465 -1.050535
4 -0.341020 -1.159042 -0.482472  0.088432  2.876943

In [19]:
print(dataframe.tail(n = 2))

           A         B         C         D         E
18 -0.055697  1.269716  1.118617  0.379113  0.461052
19 -0.321136  0.528848  1.091655  0.045777 -0.973728

In [20]:
print(dataframe.describe())

               A          B          C          D          E
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean   -0.001832   0.140460   0.331478   0.210704  -0.100675
std     1.012826   1.158359   0.912573   0.858145   1.114303
min    -2.595585  -2.177228  -1.386466  -1.495732  -2.281464
25%    -0.450780  -0.801425  -0.259930  -0.353139  -0.737819
50%    -0.196527   0.466423   0.187848   0.156936  -0.226178
75%     0.550029   1.241010   1.098395   1.064040   0.448230
max     1.664746   1.769536   1.620486   1.622692   2.876943

In [21]:
print(dataframe.sort_values(by='C').head())

           A         B         C         D         E
9   1.058041  1.233191 -1.386466 -0.741651 -1.316402
5   1.664746 -0.609835 -1.338195  1.033351 -0.958019
1  -2.595585  0.937161 -0.553825 -1.495732 -2.281464
4  -0.341020 -1.159042 -0.482472  0.088432  2.876943
14 -0.318083  1.769536 -0.477364 -0.329887 -0.096212

In [17]:
print(dataframe.sort_index(ascending = False).head())

           A         B         C         D         E
19  0.356689  0.729589 -1.996340 -1.460250 -1.224428
18  0.477116  0.467094  0.750811 -0.314363 -0.061238
17 -0.037065  0.202186 -0.592227  0.142119 -0.356635
16  0.714330 -0.027779 -0.483000  1.589747  0.937058
15  0.406458 -0.598635 -0.521593  0.220173 -0.319628

In [5]:
print(dataframe['A'].head())

0    1.449468
1    0.449642
2   -0.447878
3   -0.357037
4    0.061078
Name: A, dtype: float64

In [4]:
print(dataframe[1:4])

          A         B         C         D         E
1  0.449642 -0.370049 -2.083164  0.028875 -0.973921
2 -0.447878  0.163164  1.547500  0.961028 -0.169222
3 -0.357037 -1.012916 -0.835160 -1.095091  0.178336

In [73]:
#Print first 4 rows of columns A, B, c
print(dataframe[0:4][['A','B','C']])

          A         B         C
0  0.603915  0.544760  1.127070
1 -1.005300 -0.802737 -0.159041
2 -0.401276 -0.037106  0.350671
3 -1.039700 -0.728051  0.868975

In [80]:
print(dataframe[['A', 'B']].head())

          A         B
0  0.603915  0.544760
1 -1.005300 -0.802737
2 -0.401276 -0.037106
3 -1.039700 -0.728051
4  0.210097 -1.062780

In [22]:
#loc, iloc & ix
df = pd.DataFrame({'A' : [4,5,6,7],
                   'B' : [10,20,30,40],
                   'C' : [100,50,-30,-50]})
df.index = ['aa', 'aa', 'bb', 'cc']
print(df)

    A   B    C
aa  4  10  100
aa  5  20   50
bb  6  30  -30
cc  7  40  -50

In [25]:
# label based indexing. 
# loc[label of the row as a list , label of the column as a list]
print(df.loc['aa'])

#to print the rows indexed as aa and bb
print(df.loc[['aa','bb']])

    A   B    C
aa  4  10  100
aa  5  20   50
    A   B    C
aa  4  10  100
aa  5  20   50
bb  6  30  -30

In [43]:
print(df.loc['aa', ['A', 'B']])

    A   B
aa  4  10
aa  5  20

In [31]:
# positional indexing
print df.iloc[0:3]

    A   B    C
aa  4  10  100
aa  5  20   50
bb  6  30  -30

In [48]:
print(df.iloc[2, [0, 1]])

A     6
B    30
Name: bb, dtype: int64

In [23]:
 df.ix[1, 'A']

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

5

In [22]:
print(df.ix['aa', :3])

    A   B    C
aa  4  10  100
aa  5  20   50

In [29]:
print(dataframe)

           A         B         C         D         E
0   2.062576  0.008351  0.085366  0.299988  1.297569
1   0.494296  0.222253 -0.418268  1.277968 -0.129569
2  -2.896461  0.556212  0.176990 -1.442846 -1.116734
3   0.416558 -0.651394 -0.286093 -0.743699 -0.407437
4   0.702190 -0.391104 -0.550280  0.503863 -0.318028
5  -0.715626 -0.420611  0.307323 -0.281851  0.406419
6  -0.208246  0.213427  0.449067  1.482499 -0.203684
7  -0.802773  0.567220  0.946325 -0.566234 -2.863966
8   1.287846 -0.734271 -1.312391  0.007253 -1.121040
9  -1.319795  0.180368  1.231052 -0.426861  1.156916
10  0.197411  1.609137 -0.209491  2.791311 -1.437933
11  1.169508  0.753125 -0.472129  1.068601 -0.163895
12  0.331397 -0.820568 -0.319576 -0.664542 -0.317090
13 -0.178663  1.274224 -0.395883 -0.929472 -0.495399
14 -0.230191 -0.325361 -1.276624  1.765187 -0.276244
15  0.399531 -0.236239  0.635263  1.643993  0.821918
16 -2.004361 -0.209580 -1.853213 -1.020907 -0.137431
17  0.073863  1.231451  1.633076 -0.063793  0.308319
18  1.109830 -0.145981  1.268979 -0.129083  0.008609
19 -0.964409 -0.790305 -1.613416 -0.566349  0.548833

In [23]:
#print 1,3,5,7 rows of columns A, B and D
print(dataframe.ix[[1,3,5,7],['A','B','D']])

          A         B         D
1  0.968925  2.224586 -0.784100
3 -1.601025 -1.217159  1.510624
5  0.246302  0.621415 -0.340311
7  0.302048 -0.134779 -2.350390

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
# Fetch A and B columns of the df for all A values >= 5
df[df.A>=5][['A','B']] # or df[df[A]>=5][['A','B']]

    A   B
aa  5  20
bb  6  30
cc  7  40

In [96]:
# Print all A vlaues and B Values for which A>=5 and B>20
df[(df.A>=5) & (df.B>20)][['A','B']] # or df[df[A]>=5][['A','B']]

    A   B
bb  6  30
cc  7  40

In [137]:
# merging datasets

In [24]:
df1  = pd.DataFrame({'key': ['a', 'b','e','f'], 'val1': [1, 2,9,10]})
df2 = pd.DataFrame({'key': ['a', 'b','c','d'], 'val2': [4, 5,6,7]})

print("df1: ")
print(df1)

print("df2")
print(df2)

df1:
  key  val1
0   a     1
1   b     2
2   e     9
3   f    10
df2
  key  val2
0   a     4
1   b     5
2   c     6
3   d     7

In [25]:
print(pd.merge(df1, df2, on = 'key'))

  key  val1  val2
0   a     1     4
1   b     2     5

In [26]:
pd.merge(df1,df2, left_on='key', right_on='key', how='outer')

  key  val1  val2
0   a   1.0   4.0
1   b   2.0   5.0
2   e   9.0   NaN
3   f  10.0   NaN
4   c   NaN   6.0
5   d   NaN   7.0

In [57]:
pd.merge(df1,df2, left_on='key', right_on='key', how='left')

  key  val1  val2
0   a     1   4.0
1   b     2   5.0
2   e     9   NaN
3   f    10   NaN

In [58]:
pd.merge(df1,df2, left_on='key', right_on='key', how='right')

  key  val1  val2
0   a   1.0     4
1   b   2.0     5
2   c   NaN     6
3   d   NaN     7

In [62]:
pd.concat([df1, df2], axis = 0)

  key  val1  val2
0   a   1.0   NaN
1   b   2.0   NaN
2   e   9.0   NaN
3   f  10.0   NaN
0   a   NaN   4.0
1   b   NaN   5.0
2   c   NaN   6.0
3   d   NaN   7.0

In [27]:
pd.concat([df1, df2], axis = 1)

  key  val1 key  val2
0   a     1   a     4
1   b     2   b     5
2   e     9   c     6
3   f    10   d     7

In [152]:
# reshaping data : Data wrangling

In [29]:
long_data = pd.DataFrame({'Country': ['IN', 'IN', 'IN', 'SL', 'SL', 'SL'],
                         'Year':[1960, 1970, 1990,1960, 1970, 1990  ],
                         'GDPpC': [83, 114, 375, 143, 183,472]})
print(long_data)

  Country  GDPpC  Year
0      IN     83  1960
1      IN    114  1970
2      IN    375  1990
3      SL    143  1960
4      SL    183  1970
5      SL    472  1990

In [31]:
print(long_data.pivot('Country', 'Year', 'GDPpC'))

Year     1960  1970  1990
Country
IN         83   114   375
SL        143   183   472

In [164]:
# replacing values.

In [166]:
data = pd.Series([1, -999, 0.5,  0.4])
print data

0      1.0
1   -999.0
2      0.5
3      0.4
dtype: float64

In [169]:
data.replace(-999, 0)

0    1.0
1    0.0
2    0.5
3    0.4
dtype: float64

In [172]:
data[ data > -999]

0    1.0
2    0.5
3    0.4
dtype: float64

In [177]:
# group by demo!

In [33]:
df = pd.DataFrame({'group': ['a', 'a', 'b', 'b'],
                   'group_Name': ['Marker', 'Marker', 'Projector', 'Projector'],
                         'value1':[12, 10, 3, 6],
                         'value2':[120, 100, 30, 60]})
df

  group group_Name  value1  value2
0     a     Marker      12     120
1     a     Marker      10     100
2     b  Projector       3      30
3     b  Projector       6      60

In [34]:
grouped = df.groupby('group')
print(grouped)

<pandas.core.groupby.DataFrameGroupBy object at 0x1072f1f60>

In [35]:
print(grouped.mean())

       value1  value2
group
a        11.0   110.0
b         4.5    45.0

In [36]:
df. groupby(['group','group_Name']).agg({'value1':np.sum, 'value2':np.mean})

                  value1  value2
group group_Name
a     Marker          22     110
b     Projector        9      45

In [61]:
dataframe.groupby('group')['value1'].mean()

group
a    11.0
b     4.5
Name: value1, dtype: float64

In [38]:
print(grouped.sum())

       value1  value2
group
a          22     220
b           9      90

In [40]:
print(grouped.apply(np.mean))

       value1  value2
group
a        11.0   110.0
b         4.5    45.0

In [ ]:
## apply working on dataframes directly.

In [41]:
dataframe =  pd.DataFrame(np.random.randn(20, 4))
dataframe

           0         1         2         3
0  -0.776108 -0.835603  0.051129 -0.158974
1  -1.448146  1.216997  1.450648  0.296552
2   0.798010 -0.236493 -0.054415 -1.425435
3   0.918327 -1.258397 -1.948334 -0.911928
4  -1.729486  1.182310 -0.763175 -0.877269
5   0.392319  1.295492 -0.982638  0.384082
6  -0.615735  0.509905 -0.540204 -0.510870
7  -0.118467 -0.790262  0.616349  0.523249
8   0.301386  0.137754  0.008990  0.366122
9   1.041135 -0.174503  0.117034 -0.195712
10  0.973210 -1.545134 -0.325351 -0.875710
11 -1.503038  0.111339  0.277320 -1.407121
12 -0.150754 -0.470049 -0.995660  0.648144
13 -0.589530 -0.565054 -0.493958  0.158802
14 -0.113123 -0.022858  1.399416  0.019113
15  0.178034  1.780376 -0.982997 -0.019635
16  0.022060  0.985993  1.118971 -1.192186
17 -0.072720 -0.284867 -0.582906  0.876773
18 -0.608632  1.223222 -0.696666 -1.362425
19  0.070070  0.486307  0.638978  1.567232

In [42]:
#Compute mean of every row
dataframe.apply(np.mean, axis = 1 )

0    -0.429889
1     0.379013
2    -0.229583
3    -0.800083
4    -0.546905
5     0.272314
6    -0.289226
7     0.057717
8     0.203563
9     0.196988
10   -0.443246
11   -0.630375
12   -0.242080
13   -0.372435
14    0.320637
15    0.238944
16    0.233709
17   -0.015930
18   -0.361125
19    0.690647
dtype: float64

In [43]:
#Copute mean of every column 
dataframe.apply(np.mean, axis = 0)

0   -0.151559
1    0.137324
2   -0.134373
3   -0.204860
dtype: float64

In [232]:
## lambda operators.

In [235]:
f = lambda x, y: x + y
f(1, 5)

6

In [46]:
print(dataframe.apply(lambda x : (x - np.mean(x)), axis = 1))

           0         1         2         3
0  -0.346219 -0.405714  0.481018  0.270915
1  -1.827159  0.837984  1.071635 -0.082461
2   1.027593 -0.006910  0.175168 -1.195852
3   1.718410 -0.458314 -1.148251 -0.111845
4  -1.182581  1.729215 -0.216270 -0.330364
5   0.120005  1.023178 -1.254952  0.111768
6  -0.326509  0.799131 -0.250978 -0.221644
7  -0.176184 -0.847979  0.558631  0.465532
8   0.097823 -0.065809 -0.194573  0.162559
9   0.844146 -0.371492 -0.079954 -0.392700
10  1.416456 -1.101888  0.117895 -0.432464
11 -0.872663  0.741714  0.907695 -0.776746
12  0.091326 -0.227969 -0.753581  0.890224
13 -0.217095 -0.192619 -0.121523  0.531237
14 -0.433760 -0.343495  1.078779 -0.301524
15 -0.060910  1.541431 -1.221942 -0.258579
16 -0.211650  0.752284  0.885261 -1.425895
17 -0.056790 -0.268937 -0.566976  0.892703
18 -0.247507  1.584347 -0.335541 -1.001299
19 -0.620577 -0.204340 -0.051669  0.876586